 .section-h {
     @extend %h2;
    text-align: center;
    color: $title-text-color;
}

.about-list {
    display: flex;
    
}

.about-list .item {
    position: relative;
}

.about-list .item:not(:last-child) {
    margin-right: 30px;

}

.about-txt {
    display: flex;
    position: absolute;
    align-items: center;
    background: rgba(47, 48, 58, 0.8);
    bottom: 0px;
    right: 0;
    transform: translateY(-4px);
    width: 100%;
    height: 70px;
    justify-content: center;
    color: $white-color;

    & h3 {
        display: block;
        width: 100%;
        @extend %h3;
        text-align: center;
        text-transform: uppercase;

    }


}
