/* футер */
footer {
    background-color: $black-color;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 60px 0px;
    margin: 0 auto;
    
    
    @media screen and (min-width: 768px) {
     
        flex-direction: row;
        flex-wrap: wrap;
        width: 768px;
        padding: 60px 89px 60px 76px;
        justify-content: space-around;
        align-items: baseline;
    }
    
    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
        align-items: baseline;
        justify-content: space-around;

        width: 1200px;
        padding: 0 15px;
        margin: 0 auto;
       
        
    }


}

.logo-addres {
    display: block;
    margin: 0px auto 60px;
    text-align: center;

     @media screen and (min-width: 768px) {
         

    }
     @media screen and (min-width: 1200px) {
        display: block;
        // text-align: left;
        width: 231px;
        padding-top: 50px;
        margin-right: 70px;

    }
}



.contacts {
    @extend %ap;
    color: $white-color;
    font-style: normal;

    @media screen and (min-width: 1200px){
        padding-bottom: 60px;

    }

    & a {
    @extend %ap;
        color: $footer-w-color;
        font-style: normal;
        margin-bottom: 9px;

    }
}

.contacts-list {
    margin-bottom: 9px;
}


.address-item :last-child {
    margin-bottom: 0px;
}

.join {
  
    justify-content: space-around;
    align-items: left;
    margin-bottom: 60px;

        @media screen and (min-width: 1200px) {
           margin-bottom: 0px;
        margin-right: 93px;

        }
}

.join-title {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.1429;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-color;
    margin-bottom: 20px;
}

.join .social {
    list-style: none;
    display: flex;
    justify-content: space-around;

}

.footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $icon-bgc-footer;
    margin-right: 10px;

    transition-property: background;
@include transition(transform);
    
    &:hover, &:focus  {
        background: $accent-color;
    }
}

.icon {
    width: 20px;
    height: 20px;
    display: flex;
    fill: $white-color;


}


.subscription-form {

        
        @media screen and (max-width: 768px) {
            width: 100%;
            text-align: center;
    }
    
    @media screen and (min-width: 1200px) {
        // display: flex;
        
    }
    
}

.subscription {
    flex-direction: row;
    
    @media screen and (min-width: 1200px){
        display: flex;
        // position: relative;
        
    }
}

.subscription-h {
    @extend %h3;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: $white-color;
    @media screen and (min-width:768px) and (max-width:1200px) {
        text-align: center;    
    }
}


.subscription-input {
    
    background-color: $black-color;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: $footer-w-color;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    
    width: 93%;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 16px;

    @media screen and (min-width: 1200px) {
        display: flex;
        width: 358px;
        margin-right: 12px;
        padding-left: 16px;
      }


}


.subscription-btn {
    @extend %btn;

display: inline-flex;
text-align: center;

    padding-left: 28px;
    padding-right: 28px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);


}

.icon-send {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}
