$primari-text-color: #757575;
$title-text-color: #212121;
$white-color: #ffffff;
$accent-color: #2196F3;
$section-color: #F5F4FA;
$black-color: #2F303A;
$border-color:#AFB1B8;
$footer-w-color: rgba(255, 255, 255, 0.6);
$icon-bgc-footer:rgba(255, 255, 255, 0.1);
$icon-color: #AFB1B8;
$shadow-color:rgba(0, 0, 0, 0.2);


